@model IEnumerable<AirportSystem.Models.Airport>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AirPort Flight Database</h1>
    <p class="lead">This is a simple system to keep track of Flight Schedule</p>
	@Html.Partial("_AddSchedule", new AirportSystem.Models.Schedule())
</div>

	<table class="table table-striped table-hover">
		<tr>
			<th>City</th>
			<th>Airport</th>
		</tr>
		<tbody>
			@foreach (var item in Model.OrderBy(m => m.City.Name)) {
				<tr onclick="Goto('@Url.Action("Details", "Airports", new { id = item.Id})')">
					<td>@item.City.Name</td>
					<td>@item.Name</td>
				</tr>
			}
		</tbody>
	</table>

<script>
	function Goto(href) {
		console.log(href);
		window.location.href = href;
	}
</script>